/* CSS for: grid */
.mainContainer{
  padding: 20px;
  display: grid;
  grid-template-rows: 20vh 60vh 10vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 
    "a a a" 
    "c b c" 
    "d d d" ;
  /* row-gap: 10px;
  column-gap: 10px; */
}

.header-div {
  grid-area: a;
  border: red 2px solid;
  padding: 10px;
  margin: 5px;
}

.form-game {
  grid-area: b;
  border: greenyellow 2px solid;
  padding: 10px;
  margin: 5px;
}

.blank-space {
  grid-area: c;
  border: blueviolet 2px solid;
  padding: 10px;
  margin: 5px;
}

.footer {
  grid-area: d;
  border: black 2px solid;
  padding: 10px;
  margin: 5px;
}




/* CSS for light and dark theme */
#theme[dark-mode="false"]{
  background-color: white;
  color: black;
}

#theme[dark-mode="true"]{
  background-color: black;
  color: white;
}






/* tooltip hover feature for Pottermore */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }